{% extends 'base.html'%}
{% block content %}
<div class="container" id="indexcontainer">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in all_post%}

      <div class="col-md-3 mb-5" id="cont">
        <div class="card h-100">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" id="campimg">
            <img src={{post.blog_image.url}} class="img-fluid" id="img" />
            <a href="{%url 'singleblog' blog_id=post.id%}">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p>{{post.article|slice:":100" }} <a href="{%url 'singleblog' blog_id=post.id%}">Read More!!</a>
             </p>        
            </div>
            <div class="card-footer">
              <small class="text-muted">{{post.date|date}}</small>
            </div>
          </div>
          
        </div>
    
      {% endfor%}
        </div>
</div>
<div class="container-fluid">
  {% include 'footer.html' %}

</div>
{% endblock%}
 