<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img  class="navbar-brand" src="../static/images/logo.png" alt="..." height="50" >
        RATED</a>

      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">

            <form class="form-inline" method="get" action="{% url 'search' %}">
              {% csrf_token %}
              <div class="md-form my-0">
                  <input class="form-control mr-sm-2 " type="text" placeholder="Search Companies" name="title" aria-label="Search">
              </div>
          </form>
          </li>
          <li class="nav-item">

          <a  class="nav-link active" href="{% url 'newcampany' %}">Upload Company

        </a>
        </li>
        <li class="nav-item">

          <a  class="nav-link active" href="{% url 'blog' %}">Blogpost

        </a>
        </li>
        <li class="nav-item">

          <a  class="nav-link active" href="{% url 'newblog' %}">Add Blog

        </a>
        </li>
        
          
         
          <li class="nav-item">
            <a class="nav-link mr-0" href="#">Hello {{request.user}} </a>
        </li>
          <li class="nav-item">

          <div class="dropdown">
            <a
              class="btn btn-light dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Profile
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/profile/">Profile</a></li>
              <li><a class="dropdown-item" href="/update/">Update Profile</a></li>
            </ul>
          </div>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="{% url 'signout' %}">Logout</a>
          </li>
          {% else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          
         {%endif%}
        </ul>
      </div>
    </div>
  </nav>