{% extends 'base.html' %}
{% load static%}
{% block title %} Sign Up Page {% endblock %}

{% block content%}
<!-- style="background-color: #9A616D;" -->
<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-8 col-lg-8 d-none d-md-block">
                <img src="{% static 'images/i.jpg'%}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100vh ; width: 100%;" />
              </div>
              <div class="col-md-4 col-lg-4 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <a class="navbar-brand" href="{% url 'index' %}"><img  class="navbar-brand" src="../static/images/logo.png" alt="..." height="50" >
                        RATED</a>
                      </div>
    
                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create Your Account</h5>
                      <form action="/register/" method="POST"> 
                        {% csrf_token%}
  
                   
                    <div class="form-outline mb-4">
                        <input type="text" name="username" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">Username</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" name="first_name" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">First Name</label>
                      </div> <div class="form-outline mb-4">
                        <input type="text" name="last_name" id="form2Example17" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example17">Last Name</label>
                      </div>
                    <div class="form-outline mb-4">
                      <input type="email" name="email" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" name="password1" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" name="password2" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27" >Confirm Password</label>
                      </div>
  
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" type="button">Register</button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Do you have an account? <a href="{%url 'login'%}"
                        style="color: #393f81;">Login here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


 {% endblock%} 